*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
}
.text_nav ul li a{
    color: white;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
}
.text_nav ul li {
    list-style: none;
}
.text_nav ul{
    display: flex;
}
.block-img{
    height: 87.5vh;
    width: 100%;
    background-image: url("/msg-613142218-16778.jpg");
}
.block-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_content{
    text-align: center;
    width: 80%;
}
.title{
    color: rgb(209, 136, 52);
}
.block_content p{
    color: white;
}
.button_nav{
    font-size: 20px;
    background-color: gray;
    border: none;
    outline: none;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    transition: 1s;
}
.button_nav:hover{
    background-color: gold;
    border-radius: 10px;
}
.section2{
    width: 100%;
    height: 60vh;
    display: flex;
}
.block-left{
    width: 100%;
}
.block-left img{
    width: 100%;
    height: 56.5vh;
    
}
.block-right{
    width: 100%;
    height: 56.5vh;
    background-color:grey;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3{
    margin-top:-22px;
    width: 100%;
    height: 50vh;
    display: flex;
}
.box{
    width: 33.3%;
    padding: 20px;
    text-align: center;
}
.box2{
    background-color: burlywood;
}
.button_navv{
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    transition: 1s;
}
.button_navv:hover{
    background-color: gold;
    border-radius: 10px;
}
body{
    width: 1120px;
    margin:0 auto;
}